.app-container {
    padding: 10px;
    height:50px;
    width: 50px;

  }
  
  .dropdown-category {
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
  }
  
  .dropdown-item {
    padding-left: 30px;
    cursor: pointer;
  }
  
  .dropdown-divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  button.btn.btn-primary{

    color: black;
    background-color: rgb(252, 242, 163);
  } 
  div.dropdowm.menu.show{
     background-color: rgb(241, 239, 225);
  }