.container, .container-md, .container-sm {
  max-width: 100%;
}
.container {
  background-color: #f8edb8; 
  padding: 2rem;
 
background-size: 100%;
}


h2 {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.city-dropdown {
  display: inline-block;
  width: 100%;
}

.dropdown-toggle-text {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  padding: 0.5rem 0;
  width: 100%;
  cursor: pointer;
}

.dropdown-toggle-text:hover {
  background-color: transparent;
  color: #f7dd75; 
}

.dropdown-menu {
  background-color: #f8eea3; 
  border: 1px solid #D1D5DB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #FDE68A;
  color: #333;
}

/* Column grid layout */
.col {
  display: flex;
  justify-content: center;
}
